/* Element layout display properties */
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "headshot"
        "about"
        "experience";
    align-self: center;
}

#headshotContainer {
    grid-area: headshot;
    align-self: center;
    padding: 2em;
    border-radius: 20px;
}

#headshot {
    width: 100%;
    margin: auto;
    border-radius: 20px;
}

#about {
    grid-area: about;
}

#experience {
    grid-area: experience;
}


/* Active page link style */
nav>ul>:first-child>a {
    border-bottom: solid rgb(104, 197, 227);
}


/* Media queries & breakpoints */
@media screen and (min-width: 600px) {

    main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "headshot about"
            "headshot about"
            "experience experience";
    }

    .textSection {
        max-height: 45vh;
    }
}

@media screen and (min-width: 600px) and (orientation: landscape) {

    .textSection {
        max-height: 90vh;
    }
}

@media screen and (min-width: 1024px) {

    main {
        display: flex;
    }

    .textSection {
        max-width: 28vw;
        max-height: 70vh;
    }
}

@media screen and (min-width: 1920px) {

    #headshotContainer {
        grid-area: headshot;
        align-self: center;
        padding: 2.5%;
        border-radius: 20px;
    }
}