/* Includes customized JotForm elements imbedded for form functionality */
/* Element layout display properties */
#connectContainer {
    flex-grow: 1;
    max-width: 600px;
    margin: auto;
}

#formContainer {
    flex-grow: 1;
    align-self: center;
    justify-content: center;
    min-width: fit-content;
    width: 80%;
}

.connectForm {
    padding: 0;
    align-items: center;
}

#formList {
    list-style-type: none;
}

.contactField label {
    display: block;
    padding-top: 1em;
    padding-bottom: .2em;
}

#first_6,
#input_7,
#input_8 {
    padding: .25em;
    width: 80%;
    min-height: 1.75rem;
}

#input_9 {
    padding: .25em;
    width: 80%;
    height: 10rem;
    resize: none;
}

#cid_10 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-navigation-container {
    background-color: rgba(13, 27, 53, .75);
    padding: .5em;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}

.form-error-message {
    margin: auto;
    width: 80%;
    background-color: rgba(13, 27, 53, .75);
    padding-top: .5em;
    padding-bottom: .25em;
}

.form-error-message>img {
    max-height: 1em;
}

.error-navigation-next-button {
    margin: auto;
    margin-top: .5em;
    padding: .25em;
}

#input_11 {
    margin: 1em 0 .5em 0;
    padding: .75em;
    border-radius: 9px;
    border: solid 1px rgb(13, 27, 53);
}


/* Text Sizing & Color properties */
#input_11 {
    font-size: 1.75vh;
    font-weight: 600;
}

.contactField>label {
    font-size: 2vh;
}

.error-navigation-message {
    font-size: .8em;
    color: #caf0f8ff;
}


/* Button hover properties */
#input_11:hover {
    background-color: rgb(104, 197, 227);
    cursor: pointer;
}


/* Active page link style */
nav>ul>:nth-child(3)>a {
    border-bottom: solid rgb(104, 197, 227)
}



/* Hides JotForm redundant messaging */
.form-button-error>p {
    display: none;
}


/* Media queries & breakpoints */
@media screen and (min-width: 1920px) {

    #connectContainer {
        max-width: 40vw;
    }

    .error-navigation-message {
        font-size: .8em;
        color: #caf0f8ff;
    }
}