/* Includes customized JotForm elements imbedded for form functionality */
/* Element layout display properties */
#connectContainer {
    flex-grow: 1;
    max-width: 600px;
    margin: auto;
}

#formContainer {
    flex-grow: 1;
    align-self: center;
    max-width: fit-content;
}

.connectForm {
    padding: 0;
    align-items: center;
}

#formList {
    list-style-type: none;
}

.contactField label {
    display: block;
    padding-top: 1em;
    padding-bottom: .2em;
}

#first_6,
#input_7,
#input_8 {
    width: 80%;
    min-height: 1.75rem;
}

#input_9 {
    width: 80%;
    height: 10rem;
    resize: none;
}

#cid_10 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-error-message {
    margin: auto;
    width: 80%;
    background-color: rgba(13, 27, 53, .75);
    padding-top: .5em;
    padding-bottom: .25em;
}

.form-error-message>img {
    max-height: 1em;
}

#input_11 {
    margin: 1em 0 .5em 0;
    padding: .75em;
}


/* Text Sizing & Color properties */
#input_11 {
    margin: 1em 0 .5em 0;
    padding: .75em;
    font-weight: 600;
    font-size: 1em;
}

.error-navigation-message {
    font-size: .8em;
    color: #caf0f8ff;
}


/* Hides JotForm redundant messaging */
p {
    display: none;
}


/* Active page link style */
nav>ul>:nth-child(3)>a {
    border-bottom: solid rgb(104, 197, 227)
}