#hamburgerMenu {
    width: 40px;
    height: 40px;
    margin: 20px 10px 20px 20px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

#hamburgerMenu span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: #caf0f8ff;
    border-radius: 6px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#hamburgerMenu span:nth-child(1) {
    top: 2px;
}

#hamburgerMenu span:nth-child(2),
#hamburgerMenu span:nth-child(3) {
    top: 16px;
}

#hamburgerMenu span:nth-child(4) {
    top: 30px;
}

#hamburgerMenu.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#hamburgerMenu.open span:nth-child(2) {
    transform: rotate(45deg);
}

#hamburgerMenu.open span:nth-child(3) {
    transform: rotate(-45deg);
}

#hamburgerMenu.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}