main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav>ul>:nth-child(2)>a {
    border-bottom: solid rgb(104, 197, 227);
}

ul {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bubble-frame ul {
    list-style-type: none;
}

#skill-list ul li {
    padding: .7em;
}

.imageContainer {
    background-color: rgba(202, 240, 248, .5);
    margin: 1em;
    padding: .5em;
    border-radius: 5px;
    flex: 0 0 auto;
}

.imageContainer:hover {
    transform: scale(1.2);
    transition: all ease-out 300ms;
}

#git-link {
    font-size: large;
    display: inline-block;
}

#design {
    flex-grow: 1;
    flex-wrap: nowrap;
    width: 90%;
    max-width: 600px;
    align-items: center;
    animation: none;
    padding: 1em;
    overflow-x: auto;
    background-color: rgba(104, 197, 227, .4);
}