main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

nav>ul>:nth-child(2)>a {
    border-bottom: solid rgb(104, 197, 227);
}

ul {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bubble-frame ul {
    list-style-type: none;
}

#skill-list ul li {
    padding: .7em;
}

.image-container {
    background-color: rgba(13, 27, 53, .3);
    margin: 1em;
    padding: .5em;
    border-radius: 5px;
}

#git-link {
    font-size: large;
    display: inline-block;
}

#design {
    flex-grow: 1;
    align-items: center;
    animation: none;
    padding: 1em;
    justify-content: space-around;
}