/* Element layout display properties */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#skillListSection {
    width: 90%;
    margin: auto;
}

#skillList {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5em;
    padding: 1em;
}

.skillLogo {
    height: 3.5em;
}

#codingTitle {
    margin-bottom: 0;
}

.skillFig {
    text-transform: uppercase;
    font-size: .75em;
    padding: .7em;
}

#coding a {
    color: rgb(0, 119, 182);
    font-size: .75em;
    font-weight: 600;
    text-decoration: none;
    padding: .6em .4em .4em .4em;
}

.gitLink {
    font-weight: 700;
    display: inline-block;
}

#design {
    flex-grow: 1;
    flex-wrap: nowrap;
    width: 90%;
    align-items: center;
    overflow-x: scroll;
    animation: none;
    gap: 1em;
    padding: 1em;
    background-color: rgba(202, 240, 248, .4);
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: unset;
}


/* Text Sizing & Color properties */
.skillFigCap {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: .25em;
}


/* Custom scrollbars for text sections */
/* Custom scrollbar for Firefox */
#design {
    scrollbar-color: rgb(22, 93, 117) rgba(202, 240, 248, .7);
    scrollbar-width: thin;
}

#design::-webkit-scrollbar {
    height: .7em;
}

#design::-webkit-scrollbar-thumb {
    height: .5em;
    background: rgb(22, 93, 117);
}

#design::-webkit-scrollbar {
    background-color: rgba(202, 240, 248, .7);
}

.imageContainer {
    background-color: rgba(202, 240, 248, .7);
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    flex: 0 0 auto;
}


/* Active page link style */
nav>ul>:nth-child(2)>a {
    border-bottom: solid rgb(104, 197, 227);
}


/* Link hover & visited properties */
#coding a:visited {
    color: rgb(13, 27, 53);
}

.gitLink:hover,
#coding a:hover {
    color: rgb(240, 102, 11);
}

.imageContainer:hover {
    transform: scale(1.2);
    transition: all ease-out 300ms;
}


/* Media queries & breakpoints */
@media screen and (min-width: 600px) {
    #skillList {
        list-style-type: none;
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: .5em;
        padding: 1em;
    }
}

@media screen and (min-width: 1024px) {

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "skillset coding"
            "skillset skillList"
            "skillset portfolio";
    }

    #skillset {
        grid-area: skillset;
        min-height: 100%;
        align-self: center;
    }

    #coding {
        grid-area: coding;
        align-self: center;
    }

    #skillList {
        grid-area: skillList;
        padding: 1em;
    }

    #portfolio {
        grid-area: portfolio;
        max-height: 40vh;
    }

    #design {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow-y: scroll;
        overflow-x: auto;
        scrollbar-color: rgb(22, 93, 117) rgba(202, 240, 248, .7);
        scrollbar-width: thin;
    }
}

@media screen and (min-width: 1920px) {

    .skillFigCap {
        font-size: 2vh
    }

    #design {
        overflow-y: auto;
    }
}