/* Element layout display, color & background properties */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(13, 27, 53);
}

.bgWrap {
    height: 100vh;
    width: 100vw;
    background: url("../images/background.jpg") center center no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -2;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: hidden;
}

.mainWrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 1.75em 5%;
    gap: 1.75em;
}

main>section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
    background-color: rgba(13, 27, 53, .5);
    text-align: center;
    padding: 1.5em;
    border-radius: 20px;
}

.bubbleFrame {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(202, 240, 248, .7);
    align-self: center;
    padding: .3em;
    border-radius: 20px;
    border-bottom: 3px solid black;
}

header {
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    width: 100%;
    min-height: 1em;
    background-color: rgb(13, 27, 53, .5);
    color: #caf0f8ff;
}

footer {
    width: 100%;
    color: #caf0f8ff;
    background-color: rgb(13, 27, 53, .5);
    text-align: center;
    padding: .5em;
    position: relative;
    z-index: -1;
    bottom: 0;
}

.title {
    display: inline-block;
    width: 100%;
    align-self: center;
    padding-bottom: .5em;
    margin-bottom: .5em;
    border-bottom: 5px double #caf0f8ff;
    text-transform: uppercase;
}

#nameContainer {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-top: .7em;
    padding-left: .7em;
    transition: font-size 300ms;
}

#name {
    display: flex;
    width: 100%;
}

.textSection {
    max-height: 400px;
}

.textContainer {
    max-width: 800px;
    padding: 5%;
    align-self: center;
}


/* Nav menu display properties */
nav {
    flex: 1;
    flex-basis: 100%;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: all ease-in-out 150ms;
}

nav a {
    border-bottom: solid transparent 2px;
    transition: border-bottom ease-in 300ms;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}


/* Custom scrollbars for text sections */
/* Custom scrollbar for Firefox */
.textContainer {
    overflow-y: scroll;
    scrollbar-color: rgb(22, 93, 117) rgba(202, 240, 248, .7);
    scrollbar-width: thin;
}

/* Custom scrollbar for all other browsers */
.textContainer::-webkit-scrollbar {
    width: .7em;
}

.textContainer::-webkit-scrollbar-thumb {
    height: .5em;
    background: rgb(22, 93, 117);
}

.textContainer::-webkit-scrollbar {
    background-color: rgba(202, 240, 248, .7);
}


nav li {
    padding: 0.5em;
}


/* Text & Color properties */
* {
    font-family: 'Josefin Sans', sans-serif;
}

nav a {
    font-size: 1.5em;
    text-decoration: none;
    color: #caf0f8ff;
}

h3 {
    color: #caf0f8ff;
}

p {
    font-size: 1em;
    font-weight: 400;
    color: #000000;
    background-color: rgba(202, 240, 248, .7);
    line-height: 1.5em;
    text-align: center;
    margin-top: 2em;
    padding: .5em .75em;
    border-radius: 20px;
}

p:first-child {
    margin-top: 0;
}

.title {
    color: #caf0f8ff;
    top: 0;
}

#name {
    font-size: 9vw;
    font-weight: 600;
    letter-spacing: .1em;
    color: #caf0f8ff;
}


/* Link hover & visited properties */
nav a:visited {
    color: rgb(104, 197, 227);
}

nav a:hover {
    border-bottom: solid rgb(104, 197, 227);
}


/* Keyframes & Animations */
@keyframes slideFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

main>section {
    animation: 600ms ease-out 0s 1 slideFromBottom;
}

.bubbleFrame {
    animation: 600ms ease-out 0s 1 slideFromBottom;
}

.contactField {
    animation: 1s ease-out 0s 1 slideFromBottom;
}

#name {
    animation: 1s ease-out 0s 1 pulse;
}


/* Media queries & breakpoints */
@media screen and (min-width: 600px) {

    nav {
        height: auto;
        overflow: visible;
    }

    nav ul {
        flex-direction: row;
        margin: 0;
        justify-content: center;
    }

    nav li {
        padding: .5em 23px 1em 20px;
    }

    nav a {
        font-size: 1.5em;
    }

    #hamburgerMenu {
        display: none;
    }

    #nameContainer {
        margin: 2em 0 .25em 0;
        padding: 0;
    }

    #name {
        font-size: 3em;
        font-weight: 600;
        justify-content: center;
    }

}