* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    background-color: rgb(13, 27, 53);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: hidden;

}

.bg-wrap {
    height: 100vh;
    width: 100vw;
    background: url("../images/background.jpg") center center no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -2;
}

header {
    background-color: rgb(13, 27, 53, .5);
    color: #caf0f8ff;
    width: 100%;
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    min-height: 1em;
}

#name-container {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding-top: .7em;
    padding-left: .7em;
    transition: font-size 300ms;
}

#name {
    display: flex;
    width: 100%;
    font-size: 9vw;
    font-weight: 600;
    letter-spacing: .1em;
}

nav {
    flex: 1;
    flex-basis: 100%;
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: all ease-in-out 150ms;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

nav li {
    padding: .5em;
}

nav a {
    color: #caf0f8ff;
    text-decoration: none;
    font-size: 1.5em;
    border-bottom: solid transparent 2px;
    transition: border-bottom ease-in 300ms;
}

nav a:visited {
    color: rgb(104, 197, 227);
}

nav a:hover {
    border-bottom: solid rgb(104, 197, 227);
}

#coding a {
    color: rgb(0, 119, 182);
    font-weight: 600;
    text-decoration: none;
}

#coding a:visited {
    color: rgb(13, 27, 53);
}

#coding a:hover {
    color: rgb(251, 133, 0);
}

.main-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

main {
    max-width: 1000px;
    width: 90%;
    margin: 2em 5% 1em 5%;
    gap: 2em;
}

@keyframes slideFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

main>section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: auto;
    background-color: rgba(13, 27, 53, .5);
    text-align: center;
    padding: 1.5em;
    border-radius: 20px;
    animation: 600ms ease-out 0s 1 slideFromBottom;
}

.bubble-frame {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(202, 240, 248, .7);
    padding: .3em;
    border-radius: 20px;
    border-bottom: 3px solid black;
    align-self: center;
    animation: 600ms ease-out 0s 1 slideFromBottom;
}

.contact-field {
    animation: 1s ease-out 0s 1 slideFromBottom;
}

#name {
    animation: 1s ease-out 0s 1 pulse;
}

h1 {
    color: #caf0f8ff;
}

h3 {
    font-weight: 600;
}

h4 {
    color: #caf0f8ff;
}

.title {
    display: inline-block;
    align-self: center;
    padding-bottom: .5em;
    margin-bottom: .5em;
    width: 100%;
    border-bottom: 5px double #caf0f8ff;
    text-transform: uppercase;
}

footer {
    width: 100%;
    color: #caf0f8ff;
    background-color: rgb(13, 27, 53, .5);
    text-align: center;
    padding: .5em;
    position: relative;
    z-index: -1;
    bottom: 0;

}

@media screen and (min-width: 600px) {

    nav {
        height: auto;
        overflow: visible;
    }

    nav ul {
        flex-direction: row;
        margin: 0;
        justify-content: center;
    }

    nav li {
        padding: 10px;
    }

    nav a {
        font-size: 1.5em;
    }

    #hamburger-menu {
        display: none;
    }

    #name-container {
        margin: 1em;
        flex-grow: 1;
    }

    #name {
        font-size: 3em;
        font-weight: 600;
        justify-content: center;
    }

}